test-with-api.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ed818cf8-0182-1000-9bc4-5c634e439fe4</groupId>
    <name>test-with-api</name>
    <snippet>
        <processGroups>
            <id>edf80fda-0e8e-3d32-0000-000000000000</id>
            <parentGroupId>de290898-604d-363a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>edf80fda-0e8e-3d32-bf8a-8db8595e9ab2</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>002413a1-7bb0-316a-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>002413a1-7bb0-316a-960f-e94020231778</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>f45d016c-e1e5-3403-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f45d016c-e1e5-3403-b697-be1cbe9da8ce</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>37e91cdd-4d1c-30aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>37e91cdd-4d1c-30aa-a416-ac0b2ddbb125</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>020f94db-84ce-37bb-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>020f94db-84ce-37bb-a0bf-3501363b08c9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>829.0</x>
                        <y>375.0</y>
                    </bends>
                    <bends>
                        <x>829.0</x>
                        <y>425.0</y>
                    </bends>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>f45d016c-e1e5-3403-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f45d016c-e1e5-3403-b697-be1cbe9da8ce</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>f45d016c-e1e5-3403-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f45d016c-e1e5-3403-b697-be1cbe9da8ce</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3051925b-f4c6-3c94-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>3051925b-f4c6-3c94-8b27-0c04afb81686</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>efa09e1d-29a3-3d84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>efa09e1d-29a3-3d84-900b-25561008ffbe</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>58e989ec-5457-372d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58e989ec-5457-372d-a76e-8f2fb20acc68</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>61002e59-8aec-3345-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>61002e59-8aec-3345-8145-d0b5df74b66d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>aed193d7-5c4c-39ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>aed193d7-5c4c-39ed-84fe-20ca31c2cb73</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>58e989ec-5457-372d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58e989ec-5457-372d-a76e-8f2fb20acc68</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7e48bc8c-9d3e-38c8-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>7e48bc8c-9d3e-38c8-8009-a1d72f46fb01</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>58e989ec-5457-372d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58e989ec-5457-372d-a76e-8f2fb20acc68</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>1b4c3f98-93b1-3c54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1b4c3f98-93b1-3c54-ad01-ee0d7093b4ce</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b0ccca40-5878-397c-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>b0ccca40-5878-397c-b779-1e96b8e976a6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>efa09e1d-29a3-3d84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>efa09e1d-29a3-3d84-900b-25561008ffbe</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>1b4c3f98-93b1-3c54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1b4c3f98-93b1-3c54-ad01-ee0d7093b4ce</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ccd2c721-1f0c-3953-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>ccd2c721-1f0c-3953-a0c1-aaa3ecd76380</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>1b4c3f98-93b1-3c54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1b4c3f98-93b1-3c54-ad01-ee0d7093b4ce</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>f45d016c-e1e5-3403-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f45d016c-e1e5-3403-b697-be1cbe9da8ce</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df59bcf0-282c-3530-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <versionedComponentId>df59bcf0-282c-3530-9c00-4969b349a0e9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>efa09e1d-29a3-3d84-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>efa09e1d-29a3-3d84-900b-25561008ffbe</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>edf80fda-0e8e-3d32-0000-000000000000</groupId>
                        <id>aed193d7-5c4c-39ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>aed193d7-5c4c-39ed-84fe-20ca31c2cb73</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>1b4c3f98-93b1-3c54-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>560.0</y>
                    </position>
                    <versionedComponentId>1b4c3f98-93b1-3c54-ad01-ee0d7093b4ce</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>
    <name>temp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>temp</key>
<value>$.entries.Link</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>37e91cdd-4d1c-30aa-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>357.0</x>
                        <y>116.0</y>
                    </position>
                    <versionedComponentId>37e91cdd-4d1c-30aa-a416-ac0b2ddbb125</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>time</key>
<value>
    <name>time</name>
</value>
                            </entry>
                            <entry>
<key>user</key>
<value>
    <name>user</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                            <entry>
<key>time</key>
<value>${now():format('dd-MM-yyyy HH:mm:ss')}</value>
                            </entry>
                            <entry>
<key>user</key>
<value>${hostname()}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>start</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>58e989ec-5457-372d-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>744.0</y>
                    </position>
                    <versionedComponentId>58e989ec-5457-372d-a76e-8f2fb20acc68</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>city, time, temp</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>aed193d7-5c4c-39ed-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>936.0</y>
                    </position>
                    <versionedComponentId>aed193d7-5c4c-39ed-84fe-20ca31c2cb73</versionedComponentId>
                    <bundle>
                        <artifact>nifi-amqp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Exchange Name</key>
<value>
    <name>Exchange Name</name>
</value>
                            </entry>
                            <entry>
<key>Routing Key</key>
<value>
    <name>Routing Key</name>
</value>
                            </entry>
                            <entry>
<key>header.separator</key>
<value>
    <name>header.separator</name>
</value>
                            </entry>
                            <entry>
<key>Brokers</key>
<value>
    <name>Brokers</name>
</value>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>
    <name>Host Name</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
<value>
    <name>Virtual Host</name>
</value>
                            </entry>
                            <entry>
<key>User Name</key>
<value>
    <name>User Name</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>
    <name>AMQP Version</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>
    <name>cert-authentication</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Exchange Name</key>
<value></value>
                            </entry>
                            <entry>
<key>Routing Key</key>
<value>temperature</value>
                            </entry>
                            <entry>
<key>header.separator</key>
<value>,</value>
                            </entry>
                            <entry>
<key>Brokers</key>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>localhost</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>5672</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
                            </entry>
                            <entry>
<key>User Name</key>
<value>guest</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>0.9.1</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishAMQP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.amqp.processors.PublishAMQP</type>
                </processors>
                <processors>
                    <id>efa09e1d-29a3-3d84-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>552.0</y>
                    </position>
                    <versionedComponentId>efa09e1d-29a3-3d84-900b-25561008ffbe</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>f45d016c-e1e5-3403-0000-000000000000</id>
                    <parentGroupId>edf80fda-0e8e-3d32-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>336.0</y>
                    </position>
                    <versionedComponentId>f45d016c-e1e5-3403-b697-be1cbe9da8ce</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.17.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://api.publicapis.org/entries</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>test-with-api</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/31/2022 16:19:23 MSK</timestamp>
</template>
